<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="blog,it">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/application.css">
    <link rel="icon" type="img/ico" href="/favicon.ico">
    <script src="{{ site.baseurl }}/assets/js/particles.js"></script>
    <title>{{ site.title }}</title>
</head>
<body>
        <main>
            <header class="site-header">
                <h1 class="site-title"><a href="{{ site.baseurl }}/">

                    <span class="orange-div">[</span>
                    <span>{{site.title}}</span>
                    <span class="orange-div">]</span>

                </a></h1>
                <nav class="site-nav">
                     <a href="{{ site.baseurl }}/index" class="{% if page.url == '/' %}active-page{% endif %}"> Головна</a>
                     <a href="{{ site.baseurl }}/tags" class="{% if page.url == '/tags/' %}active-page{% endif %}"> Теги</a>
                     <a href="{{ site.baseurl }}/archive" class="{% if page.url == '/archive/' %}active-page{% endif %}"> Архів</a>
                     <a href="{{ site.baseurl }}/about" class="{% if page.url == '/about/' %}active-page{% endif %}"> Про автора</a>
                </nav>
            </header>
            {{ content }}
        </main>
    <script>
        {% if site.google_analytics %}
        {% endif %}
        
        particlesJS.load("particlesjs", "{{ site.baseurl }}/assets/conf/particlesjs-config.json");
    </script>
</body>
